<a href="https://colab.research.google.com/github/p-s-nayak/DL-NeuralNetwork-HUB/blob/main/05_Customer_Churn_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
churn_dataset = '/content/drive/MyDrive/DL/Dataset/Churn_Modelling.csv'

In [ ]:
df = pd.read_csv(churn_dataset)

In [ ]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
df.drop(columns = ['RowNumber','CustomerId','Surname'],inplace=True)

In [ ]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Geography        10000 non-null  object
 2   Gender           10000 non-null  object
 3   Age              10000 non-null  int64
 4   Tenure           10000 non-null  int64
 5   Balance          10000 non-null  float64
 6   NumOfProducts    10000 non-null  int64
 7   HasCrCard        10000 non-null  int64
 8   IsActiveMember   10000 non-null  int64
 9   EstimatedSalary  10000 non-null  float64
 10  Exited           10000 non-null  int64
dtypes: float64(2), int64(7), object(2)
memory usage: 859.5+ KB

In [ ]:
df.duplicated().sum()

np.int64(0)

In [ ]:
df['Exited'].value_counts()

Exited
0    7963
1    2037
Name: count, dtype: int64

In [ ]:
df['Geography'].value_counts()

Geography
France     5014
Germany    2509
Spain      2477
Name: count, dtype: int64

In [ ]:
df['Gender'].value_counts()

Gender
Male      5457
Female    4543
Name: count, dtype: int64

In [ ]:
df = pd.get_dummies(df,columns=['Geography','Gender'],drop_first=True).astype(int)

In [ ]:
df

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0,1,1,1,101348,1,0,0,0
1,608,41,1,83807,1,0,1,112542,0,0,1,0
2,502,42,8,159660,3,1,0,113931,1,0,0,0
3,699,39,1,0,2,0,0,93826,0,0,0,0
4,850,43,2,125510,1,1,1,79084,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0,2,1,0,96270,0,0,0,1
9996,516,35,10,57369,1,1,1,101699,0,0,0,1
9997,709,36,7,0,1,0,1,42085,1,0,0,0
9998,772,42,3,75075,2,1,0,92888,1,1,0,1
9999,792,28,4,130142,1,1,0,38190,0,0,0,0

# Model BUilding

In [ ]:
from sklearn.model_selection import train_test_split

X = df.drop(columns=['Exited'])
y = df['Exited'].values

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

In [ ]:
# Scaling larger column value
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

X_train_trf = scaler.fit_transform(X_train)
X_test_trf = scaler.transform(X_test)

In [ ]:
X_train_trf

array([[ 0.16958176, -0.46460796,  0.00666099, ..., -0.5698444 ,
         1.74309049, -1.09168714],
       [-2.30455945,  0.30102557, -1.37744033, ...,  1.75486502,
        -0.57369368,  0.91601335],
       [-1.19119591, -0.94312892, -1.031415  , ..., -0.5698444 ,
        -0.57369368, -1.09168714],
       ...,
       [ 0.9015152 , -0.36890377,  0.00666099, ..., -0.5698444 ,
        -0.57369368,  0.91601335],
       [-0.62420521, -0.08179119,  1.39076231, ..., -0.5698444 ,
         1.74309049, -1.09168714],
       [-0.28401079,  0.87525072, -1.37744033, ...,  1.75486502,
        -0.57369368, -1.09168714]])

` Deep Learning Start `

In [ ]:
import tensorflow
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

In [ ]:
# Sequential is a model class in Keras used to build a linear stack of layers  one layer after another.
model = Sequential()
# Layer 1  Input + Hidden Layer
  # input_dim=11  your dataset has 11 input features
  # Dense(11)  this layer has 11 neurons
  # activation='sigmoid'  each neuron uses a sigmoid function
  # So this layer creates:
  # 11 inputs  11 neurons  sigmoid activation
model.add(Dense(11,activation='sigmoid',input_dim=11))
model.add(Dense(1, activation='sigmoid'))

In [ ]:
model.summary()

Model: "sequential_2"

 Layer (type)                     Output Shape                  Param #

 dense_2 (Dense)                  (None, 11)                        132

 dense_3 (Dense)                  (None, 1)                          12

 Total params: 144 (576.00 B)

 Trainable params: 144 (576.00 B)

 Non-trainable params: 0 (0.00 B)

In [ ]:
model.compile(loss='binary_crossentropy',optimizer='Adam')

In [ ]:
model.fit(X_train_trf,y_train,epochs=10)

Epoch 1/10
250/250  1s 2ms/step - loss: 0.3901
Epoch 2/10
250/250  1s 2ms/step - loss: 0.3972
Epoch 3/10
250/250  1s 3ms/step - loss: 0.3907
Epoch 4/10
250/250  1s 1ms/step - loss: 0.3905
Epoch 5/10
250/250  0s 1ms/step - loss: 0.3826
Epoch 6/10
250/250  0s 1ms/step - loss: 0.3853
Epoch 7/10
250/250  0s 1ms/step - loss: 0.3921
Epoch 8/10
250/250  0s 2ms/step - loss: 0.3861
Epoch 9/10
250/250  0s 2ms/step - loss: 0.3724
Epoch 10/10
250/250  1s 2ms/step - loss: 0.3719

In [ ]:
# to check weight and bias
layer = model.layers[0]   # 0 = first layer, 1 = second, etc.
weights, biases = layer.get_weights()

print("Weights:\n", weights)
print("Biases:\n", biases)

Weights:
 [[-2.53511786e-01  8.45444649e-02 -4.12623100e-02  2.44421408e-01
   3.09025913e-01  4.25715774e-01 -1.31030604e-01 -2.88642406e-01
  -1.23648234e-01 -6.40497655e-02 -8.34515691e-03]
 [ 7.84149542e-02  5.87260604e-01 -1.89457536e-02  8.84714499e-02
  -1.33264577e+00 -1.83794528e-01 -2.05444002e+00 -1.03535020e+00
  -2.87290830e-02  2.92502701e-01 -2.64605308e+00]
 [-4.15994853e-01  4.37805802e-02 -9.47955698e-02 -3.34284633e-01
  -5.12336232e-02 -2.28183135e-01 -1.12408675e-01 -4.45478782e-02
   2.51694739e-01  7.57214874e-02  1.28902391e-01]
 [-1.85849756e-01  3.06617141e-01  4.32193607e-01 -2.92393863e-01
  -3.16536546e-01 -5.51703691e-01  4.52038739e-03 -2.68898040e-01
  -2.37573788e-01 -3.33464086e-01  2.49421224e-01]
 [ 3.15562129e-01  2.65944338e+00  3.75645608e-01  2.87080646e-01
  -2.67112613e-01 -4.95906800e-01 -1.75992474e-01 -3.09377670e-01
  -1.98302567e-01 -2.47357464e+00 -2.12702259e-01]
 [ 2.98982501e-01  1.21983543e-01 -8.14089105e-02 -1.52946725e-01
   1.50013253e-01  3.70798677e-01  2.09041554e-02  3.19228321e-02
  -4.33118641e-01 -4.02153134e-02 -8.94161984e-02]
 [-6.43430829e-01  3.67265582e-01 -1.13478601e+00 -4.54404682e-01
   1.55921787e-01  3.67516667e-01 -1.25009567e-01  6.06028616e-01
   1.35345495e+00 -1.72412008e-01 -6.78212225e-01]
 [ 2.43422464e-01  5.93401603e-02 -7.09181279e-02 -1.12721629e-01
   2.90773004e-01 -2.46239677e-01  1.28483355e-01 -3.22113901e-01
  -4.23906237e-01 -1.67882387e-02  4.34278063e-02]
 [ 6.02386296e-01  2.93848012e-02  5.08303702e-01  5.95979571e-01
  -1.15332939e-01 -7.68975973e-01  2.08718237e-03 -5.13323724e-01
  -2.69638091e-01  2.62727290e-01 -7.94052929e-02]
 [ 2.72312611e-01  3.53458554e-01 -5.24681853e-03  3.32192868e-01
  -1.80991083e-01  3.81132096e-01  2.85377353e-01  4.87559363e-02
  -1.93939403e-01  7.72839710e-02 -9.63208526e-02]
 [-7.30240047e-01 -1.12709083e-01 -2.00892419e-01 -6.11228764e-01
   1.30608037e-01  1.41637668e-01  3.13866436e-01  3.72536540e-01
   3.28709006e-01 -3.63638960e-02 -1.04187056e-02]]
Biases:
 [-0.13736613  0.5827533  -0.11752146 -0.15363792  0.11710338  0.33832908
  0.06323452  0.37592626  0.33853656 -0.8795947   0.05410666]

In [ ]:
model.summary()

Model: "sequential_2"

 Layer (type)                     Output Shape                  Param #

 dense_2 (Dense)                  (None, 11)                        132

 dense_3 (Dense)                  (None, 1)                          12

 Total params: 434 (1.70 KB)

 Trainable params: 144 (576.00 B)

 Non-trainable params: 0 (0.00 B)

 Optimizer params: 290 (1.14 KB)